<div class="page">
<h3>Name: <%=@item.name%></h3>
<h4>Price: $<%=@item.price%></h4>
<p><strong>Description: </strong><%=@item.description%></p>
<% @item.avatar_file_name = "http://www.clker.com/cliparts/n/T/5/z/f/Y/image-missing-hi.png" %>
<%= image_tag @item.avatar_file_name, :style => "width: 300px; height: 300px;" %>
<br>
<%= react_component('CommentBox', {:presenter => @presenter.to_json}, {:prerender => true}) %>
</div>